a,
p,
span,
h1,
h2,
h3,
h4 {
    color: #181717;
    font-family: "Open Sans";
    font-weight: 500;
    letter-spacing: 0.025em;
}

.main_wrapper_block h2 {
    text-transform: uppercase;
}

.icon-star-full {
    color: #f9b41e;
    font-size: 16px;
}

.icon-star-empty {
    color: #bcb9b4;
}

.link {
    position: relative;
    z-index: 1;
}

.link > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    outline: none;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

button {
    outline: none;
    border: none;
    color: #181717;
}

.slick-slide {
    outline: none;
}

.logo_header {
    max-width: 160px;
    width: 100%;
}

.logo_header img {
    width: 100%;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header_inner {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_inner .header_menu {
    display: flex;
    align-items: center;
}

.header_inner .header_menu .menu_item {
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.header_inner .header_menu .katalog_trigger_inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;


}

.header_inner .header_menu a {
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
}

.header_inner .header_menu li:hover .line {
    transition: 0.3s;
    height: 1px;
    width: 90%;
}

.header_inner .header_menu .line {
    height: 1px;
    width: 0;
    background-color: rgb(0, 0, 0);
}

.header_inner .phone {
    font-weight: 700;
    margin: 0 20px;
    padding: 0 5px;
}

.header_icons {
    display: flex;
    align-items: center;
}

.header_icons .heart,
.header_icons .basket {
    position: relative;
}

.count_icon {
    position: absolute;
    top: -11px;
    right: -3px;
    font-size: 12px;
}

.header_icons div {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.katalog_slide {
    position: absolute;
    width: 270px;
    background-color: #3e3b38;
    top: 70px;
    padding: 8px 0;
    z-index: 2;
    display: none;
}

.header_menu .katalog_slide li {
    display: flex;
    align-items: center;
    padding: 10px 13px;
    border-bottom: 1px solid #626262;
}

.header_menu .katalog_slide li:hover {
    background-color: #626262;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.header_menu .katalog_slide li:last-child {
    border: none;
}

.katalog_slide p {
    color: #fcfcfc;
    padding-left: 9px;
    text-transform: none !important;
    font-size: 14px;
    white-space: nowrap;
}

.katalog_slide_img {
    width: 23px;
    display: flex;
    justify-content: center;
}

.banner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
}

.img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none
}

.banner h1 {
    font-family: Corinthia;
    color: #ffffff;
    font-size: 100px;
    font-weight: 300;
    margin: 0 50px 28px 0;
}

.icon-down {
    padding: 0 0 0 5px;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.adaptive_menu .icon-down {
    color: #ffffff;
}

.katalog_trigger.show_katalog .icon-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 5px 0 0;
}

.katalog_trigger a:active {
    outline: none;
    border: none;
}

.services_item_wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    align-items: center;
}

.services_item .icon-truck {
    font-size: 62px;
}

.services_item .icon-percent {
    font-size: 50px;
}

.services_item .icon-pin {
    font-size: 50px;
}

.services_item .icon-box {
    font-size: 50px;
}

.services_item {
    display: flex;
    align-items: center;
}

.services_item p {
    text-transform: uppercase;
    padding-left: 22px;
}

.main_catalog_wrapper h2 {
    text-transform: uppercase;
    font-size: 24px;
    padding: 0 0 15px 0;
    font-weight: 500;
    font-family: "Open Sans";
    font-weight: 500;
}

.catalog_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.catalog_wrapper .catalog_item {
    width: 25%;
    min-width: 292px;
    min-height: 292px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.catalog_wrapper .catalog_item:hover img,
.dark_effect {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.catalog_wrapper .catalog_item:hover .dark_effect {
    opacity: 0.3;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 053s;
    transition: all 0.5s;
}

.catalog_item img {
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.catalog_wrapper .catalog_item_title {
    position: absolute;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 32px;
    width: 80%;
    cursor: pointer;
}

.catalog_wrapper .catalog_item_title p {
    font-size: 16px;
    text-transform: uppercase;
}

.dark_effect {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 0;
}

/*карточка*/
.card_prices_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main_block_item {
    position: relative;
    margin-top: 15px;
}

.main_block_item .slick-slide:focus {
    outline: none;
}

.slider_arrows {
    display: flex;
    margin: 0 -3px;
    position: absolute;
    right: 0;
    top: 0;
}

.slider_arrows button {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
}

.slider_arrows .next {
    background-color: #34312d;
}

.slider_arrows .next span {
    color: #ffffff;
}

.slider_arrows .back {
    background-color: #cccccc;
}

.cards_list_wrapper {
    display: flex;
    justify-content: space-between;
    margin: -15px -15px;
}
.cards_list_wrapper .draggable{
    padding: 15px 0;
}
.card_wrapper {
    padding: 13px;
    display: flex !important;
    justify-content: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

.card_wrapper:hover {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card_wrapper:hover .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 337px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

.card .card_image {
    width: 170px;
    height: 200px;
    padding: 20px 20px 15px 20px;
}

.card .card_image img {
    width: 100%;
}

.card_content .card_title {
    font-size: 16px;
}

.card_title_wrapper {
    display: flex;
    padding: 0 0 5px 10px;
    justify-content: space-between;
}

.fav {
    position: relative;
    top: 5px;
    right: 20px;
    z-index: 8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.icon-fav {
    color: #f70718;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.icon-fav:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    transform: scale(1.1, 1.1);
}

.icon-no-fav:hover {
    color: #f70718;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    transform: scale(1.1, 1.1);
}

.card_prices {
    padding: 0 20px 10px 10px;
    display: flex;
    justify-content: space-between;
    min-height: 48px;
    align-items: center;
}

.old_price {
    display: flex;
}

.old_price p {
    font-size: 10px;
}

.cents {
    position: relative;
    font-size: 8px;
}

.old_price .cents {
    top: -3px;
}

.discount {
    margin-left: 14px;
    color: #fa0606;
}

.price p {
    font-size: 16px;
    color: #fa0606;
    font-weight: 900;
}

.price .cents {
    color: #fa0606;
    top: -5px;
    font-size: 10px;
    font-weight: 900;
}

.profit p {
    font-size: 10px;
    color: #fa0606;
}

.profit .cents {
    color: #fa0606;
    top: -3px;
}

.card_prices .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 35px;
    background-color: #fa0606;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    align-self: flex-end;
    border: none;
    outline: none;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 8;
}

.card_prices .cart:hover {
    background-color: #cb0a0a;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* статьи */
.articles {
    flex-direction: column;
}

.articles_list_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -13px;
    flex-wrap: wrap;
}

.art_item_title {
    position: absolute;
    height: 50%;
    display: flex;
    align-items: center;
    width: 100%;
    background: rgba(75, 71, 67, 0.5);
    z-index: 2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.art_item_title p {
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}

.article_item_image {
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.article_item {
    max-width: 370px;
    width: 100%;
}

.article_item_wrapper {
    padding: 0 15px;
}

.article_item_wrapper .article_description {
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.article_item_image img {
    height: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.article_item_wrapper .link:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.white_effect {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.article_item_wrapper .link:hover .white_effect {
    opacity: 0.3;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.article_item_wrapper .link:hover .art_item_title {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rgba(30, 30, 30, 0.8);
    cursor: pointer;
}

.content_description {
    -webkit-box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.09);
    margin-top: 15px;
}

.content_description h2 {
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
}

/*questions*/
.make_question {
    background-color: #3e3b38;
    min-height: 150px;
}

.make_question h2 {
    color: #fbf9f9;
    font-size: 20px;
    text-align: center;
    padding: 25px 0;
}

.make_question form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.make_question_fields input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 5px 0 1px 3px;
    max-width: 200px;
    width: 100%;
    margin: 0 13px;
    color: #aeaeae;
    font-size: 18px;
    outline: none;

}

.make_question_fields {
    margin: 0 -13px;
}

.make_question_fields input::placeholder {
    color: #aeaeae;
    opacity: 1;
    font-size: 18px;
}

.make_question_fields input:-ms-input-placeholder {
    color: #aeaeae;
    font-size: 18px;
}

.make_question_fields input::-ms-input-placeholder {
    color: #aeaeae;
    font-size: 18px;
}

.make_question input[type='submit'] {
    padding: 10px 35px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fa0606;
    color: #ffffff;
    border: none;
    margin-left: 23px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.make_question input[type='submit']:hover {
    background-color: #cb0a0a;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* footer */
.footer_flex {
    display: flex;
    justify-content: space-between;
    min-height: 220px;
    align-items: center;
}

.footer_left {
    margin: -5px 0;
}

.footer_left li {
    padding: 5px 0;
}

.footer_left li:hover a {
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer_left {
    display: flex;
    flex-direction: column;
}

.footer_left a {
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

.unp {
    display: flex;
    justify-content: center;
    margin: 10px -7px 0;
}

.unp p {
    padding: 0 7px;
}

.footer_middle {
    margin-top: 15px;
}

.footer_middle h2 {
    font-size: 38px;
    font-family: Corinthia;
    text-align: center;
}

.footer_right a {
    font-size: 13px;
    text-transform: uppercase;
}

.footer_right {
    margin: -5px 0;
}

.footer_right li {
    padding: 5px 0;
}

.footer_right li:hover a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.8;
}

.footer_right li a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.created_by {
    margin-top: 35px;
    font-weight: 300;
}

.created_by a {
    font-weight: 300;
    font-size: 13px;
}

.footer_logo {
    max-width: 348px;
}

.footer_logo img {
    width: 100%;
}

.adaptive_menu {
    display: none;
}

.breadcrumbs {
    display: flex;
}


.breadcrumbs p,
.breadcrumbs a {
    font-size: 12px;
    color: #979797;
}

.breadcrumbs a {
    padding: 0 15px;
}

.breadcrumbs a:first-child {
    padding-left: 0;
}

/* goods */
.main_wrapper_block {
    display: flex;
    margin-top: 30px;
    width: 100%;
}
.catalog .breadcrumbs a:first-child{
    padding: 0 15px;
}
.left_catalog_wrapper {
    min-width: 212px;
}

.left_catalog_wrapper h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.left_catalog_item_title {
    border-top: 1px solid #d1cccc;
    display: flex;
    align-items: center;
}

.left_catalog_item_title img {
    padding: 0 8px;
}

.left_catalog_item_title p {
    font-weight: 700;
    font-size: 14px;
    padding: 12px 0;
}

.left_catalog_item_content {
    padding-left: 30px;
    margin: -9px 0;
    padding-bottom: 9px;
}

.left_catalog_item_content li {
    padding: 9px 0;
}

.main_catalog_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main_catalog_list_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.catalog .main_catalog_list_wrapper {
    width: 99%;
    align-self: flex-end;
    margin: 0 -15px;
}

.main_catalog_navigation_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.main_catalog_navigation_list {
    display: flex;
    border: 1px solid #34312d;
    margin-left: 40px;
}

.main_catalog_navigation_list a:hover {
    background-color: #34312d;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.main_catalog_navigation_wrapper a {
    font-size: 14px;
    padding: 7px 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.main_catalog_navigation_list a:not(:first-child) {
    border-left: 1px solid #34312d;
}

/* card */
.card_edge {
    flex-wrap: wrap;
}

.card_present_block {
    max-width: 45%;
    width: 100%;
    overflow: visible;
}

.card_main_image_wrapper {
    max-width: 500px;
    width: 100%;
    border: 10px solid #ffffff;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
}

.card_small_image_wrapper {
    width: 100%;
    max-width: 512px;
    margin: 0 -6px;
}

.card_small_image_inner {
    border: 5px solid #ffffff;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    margin: 0 6px;
}

.card_small_image_inner img {
    width: 100%;
}

.card_small_image_wrapper .slick-list {
    padding: 25px 0 25px 0;
}

.card_small_image_wrapper .slick-arrow {
    top: 50%;
    position: absolute;
    border: none;
    outline: none;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #34312d;
    font-weight: 900;
}

.card_small_image_wrapper .icon-next {
    right: -15px;
}

.card_small_image_wrapper .icon-back {
    left: -15px;
}

.card_video_wrapper {
    max-width: 500px;
    width: 100%;

}

.card_video_wrapper iframe {
    border: 7px solid #ffffff;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card_info_block {
    display: flex;
    flex-direction: column;
    max-width: 53%;
    width: 100%;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card_header {
    display: flex;
    flex-direction: column;
}

.card_header h2 {
    font-size: 30px;
    color: #181717;
    font-weight: 700;
    line-height: 30px;
    position: relative;
    top: -4px;
}

.card_header_article {
    display: flex;
    align-items: center;
    margin-top: 34px;
}

.card_header_article .price p {
    font-size: 30px;
}

.card_header_article .price .cents {
    font-size: 16px;
    top: -10px;
}

.to_cart {
    margin: 0 10px;
}

.to_cart button {
    background-color: #fa0606;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.to_cart button:hover {
    background-color: #e30202;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.to_fav {
    margin: 0 10px;
}

.to_fav button {
    background-color: transparent;
    font-size: 16px;
    border: 1px solid #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.to_fav button:hover {
    background-color: #FCFCFC;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card_info_block .card_content {
    margin: 10px 0 0 0;
    max-height: 420px;
    overflow-y: scroll;
}

.card_info_block .card_content::-webkit-scrollbar {
    width: 2px;
}

.card_info_block .card_content::-webkit-scrollbar-thumb {
    background-color: #3e3b38;
}

.card_info_block .card_content p {
    padding: 15px 0;
    font-size: 16px;
    line-height: 24px;
}

.card_feedback_title {
    display: flex;
    align-items: center;
}

.card_feedback_title h2 {
    font-size: 24px;
    text-transform: uppercase;
    padding-right: 17px;
    margin: 15px 0 25px;
}

.card_feedback_title .line {
    width: 100%;
    height: 1px;
    background-color: #cccbca;
}

.feedback_item {
    display: flex;
    flex-direction: column;

}

.feedback_item_title {
    display: flex;
    align-items: center;
}

.feedback_item_title p {
    padding-right: 8px;
    font-size: 16px;
    font-weight: 700;
}

.feedback_inner {
    max-height: 400px;
    overflow: scroll;
    padding: 0 5px 0 0;
}

.feedback_inner::-webkit-scrollbar {
    width: 2px;
}

.feedback_inner::-webkit-scrollbar-thumb {
    background-color: #3e3b38;
}

.feedback_item_content p {
    font-size: 14px;
}

.feedback_rating {
    display: flex;
    align-items: center;
}

.feedback_rating span {
    padding: 0 4px;
}

.feedback_item_date {
    display: flex;
    justify-content: flex-end;
}

.feedback_item_date p {
    font-size: 14px;
}

.leave_feedback button {
    background-color: transparent;
    font-size: 16px;
    border: 1px solid #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.leave_feedback button:hover {
    background-color: #FCFCFC;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.share_wrapper {
    display: flex;
    margin-top: 32px;
}

.share_inner {
    display: flex;
    align-items: center;
    background-color: #3e3b38;
    padding: 10px 15px;
}

.share_inner p {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
}

.share_socials_list {
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.share_socials_list span {
    font-size: 30px;
    padding: 3px;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.share_socials_list span:hover {
    color: #fcefc9;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.similar_goods_wrapper {
    width: 100%;
    max-width: 100%;
    margin-top: 60px;
}

.similar_goods_item {
    border: 10px solid #ffffff;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    margin: 0 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.similar_goods_item img {
    width: 100%;
}

.similar_goods_inner .slick-list {
    padding: 25px 0 25px 0;
}

.similar_goods_title h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.similar_goods_wrapper .slick-dots li button:before {
    font-size: 16px;
}

.left_catalog_label {
    display: none;
}

/* cart */
.cart_block_wrapper {
    flex-direction: column;
}

.cart_block_header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 3px solid #3e3b38;
}

.cart_items_count_block {
    flex: 3;
    max-width: 550px;
}

.cart_items_count_block p {
    font-size: 24px;
    text-transform: uppercase;
}

.cart_items_count_column {
    flex: 1;
    text-align: center;
}

.cart_items_price_column {
    flex: 1;
    text-align: right;
}

.cart_items_count_column p,
.cart_items_price_column p {
    color: #979797;
    font-size: 14px;
}

.cart_block_items {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 2px solid #c4c0bc;
}

.cart_item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.cart_item_article {
    display: flex;
    flex: 3;
    max-width: 550px;
}

.cart_item_article_text {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    max-width: 350px;
    width: 100%;
}

.cart_item_count {
    flex: 1;
    text-align: center;
}

.cart_item_article_text_title p {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.cart_item_article_text_content {
    margin-top: 20px;
}

.cart_item_article_text_content p {
    font-size: 16px;
}

.cart_item_price {
    flex: 1;
    text-align: right;
}

.cart_block_footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.cart_footer {
    visibility: hidden;
    max-height: 0;
}

.total_count {
    align-items: center;
    justify-content: center;
    display: flex;
}

.total_count p {
    font-weight: 700;
}

.total_count_num {
    position: relative;
    font-size: 20px;
}

.total_count_title {
    position: absolute;
    left: -100px;
    font-weight: 700;
}

.cart_block_wrapper .price p,
.cart_block_wrapper .price .cents {
    color: #181717;
}

.cart_block_footer .price p,
.cart_block_footer .price .cents {
    color: #f70718;
    font-size: 20px;
}

.cart_block_footer .price .cents {
    top: -6px;
    font-size: 14px;
}


.cart_buttons_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cart_buttons {
    display: flex;
    flex-direction: column;
    margin: 45px 0;
}

.cart_buttons button {
    width: 162px;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #34312d;
    padding: 10px 0;
    background-color: transparent;
    margin: 9px 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.cart_buttons .post_delivery {
    color: #ffffff;
    background-color: #3e3b38;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.cart_buttons .self_delivery:hover {
    background-color: #ededed;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.cart_buttons .post_delivery:hover {
    background-color: #66625e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*favorites*/
.favorites {
    flex-direction: column;
}

.favorites .card_wrapper {
    padding: 12px;
}

.favorites .main_catalog_list_wrapper {
    margin: 30px -12px;
    justify-content: space-between;
}

.favorites_title {
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 3px solid #3e3b38;
    padding-bottom: 10px;
}

/* delivery */
.delivery {
    flex-direction: row;
    margin-bottom: 200px;
}

.delivery .line {
    height: 230px;
    width: 1px;
    background-color: #d1cccc;
    align-self: flex-end;
}

.self_delivery,
.post_delivery {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery_title h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.delivery_cursive {
    margin-top: 20px;
}

.delivery_cursive p {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.self_delivery .delivery_content {
    margin-top: 70px;
}

.post_delivery .delivery_content {
    margin-top: 100px;
}

.delivery_content p {
    text-align: center;
}

/* articles */
.articles .article_item_wrapper {
    padding: 14px 14px;
}

.articles_items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article_title h2 {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: -10px;
}

.article_sub p {
    font-size: 20px;
    padding: 10px 0 20px;
}

.article_content p {
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.5em;
}

.article_content {
    margin: -20px 0;
}

.article_row {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.article_col_text {
    max-width: 50%;
    width: 100%;
}

.article_col_image {
    max-width: 43%;
    width: 100%;
}

.article_col_image img {
    width: 100%;
}

/*contacts*/

.contacts {
    flex-direction: column;
}

.contacts_left_title {
    font-weight: 700;
    margin-bottom: 10px;
}


.contacts_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 80px;
}

.contacts_block.left {
    max-width: 300px;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts_block#map {
    width: 100%;
    height: 350px;
}
        /* about */
.about{
    flex-direction: column;
}
.about_title h2 {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin: -10px 0 40px;
}
.about_title{
    align-self: center;
}
.about_content p {
    padding: 15px 0;
    font-size: 16px;
    line-height: 1.5em;
}

.about_content {
    margin: -20px 0;
}

.about_row {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about_col_text {
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about_col_image {
    max-width: 43%;
    width: 100%;
}
.about_row:nth-child(3) .about_col_text{
    order: 2;
}
.about_col_image img {
    width: 100%;
}
@media (max-width: 1024px) {
    .container {
        max-width: 994px;
    }

    .header_inner .header_menu a {
        font-size: 13px;
    }

    .header_inner .header_menu .menu_item {
        padding: 0 13px;
    }

    .header_inner .phone {
        font-size: 14px;
        margin: 0;
    }

    .catalog_wrapper .catalog_item {
        width: 25%;
        min-height: auto;
        min-width: auto;
    }

    .catalog_wrapper {
        justify-content: center;
    }

    .catalog_wrapper .catalog_item_title p {
        font-size: 14px;
    }

    .card_small_image_wrapper {
        margin: 0;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 961px
    }

    .header_inner .header_menu,
    .header_inner .phone {
        display: none;
    }

    .header_inner {
        position: relative;
    }

    .adaptive_menu {
        position: absolute;
        background-color: #3e3b38;
        margin-left: -15px;
        width: 215px;
        display: block;
        margin-top: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 3;
        transform: translateX(-217px);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        border: 1px solid rgba(255, 255, 255, 0.5);

    }

    .adaptive_menu.active {
        transform: translateX(0px);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .adaptive_menu p {
        padding-left: 10px;
        color: #ffffff;
    }

    .adaptive_menu .menu_item {
        padding: 10px 0;
        border-bottom: 1px solid #626262;
    }

    .adaptive_menu .menu_item:last-child {
        padding: 10px 0;
        border-bottom: none;
    }

    .adaptive_menu .katalog_trigger {
        position: relative;
        display: flex;
        align-items: center;
    }

    .adaptive_menu .icon-next {
        right: 120px;
        top: 16px;
        color: #ffffff;
    }

    .adaptive_menu .katalog_slide {
        top: -9px;
        left: 216px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    .nav_menu_trigger {
        width: 60px;
    }

    .nav_menu_trigger div {
        height: 3px;
        background-color: #000000;
        margin: 5px 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nav_menu_trigger.active div {
        width: 50px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nav_menu_trigger .line1 {
        width: 50px;
    }

    .nav_menu_trigger .line2 {
        width: 30px;
    }

    .nav_menu_trigger .line3 {
        width: 40px;
    }

    .header_icons {
        width: 100%;
        margin-right: 40px;
        justify-content: flex-end;
    }
}

@media (max-width: 769px) {
    .main_block_item h2 {
        font-size: 20px;
    }

    .catalog_wrapper .catalog_item_title p {
        font-size: 12px;
        text-align: center;
    }

    .article_item_image {
        height: 170px;
    }

    .container {
        max-width: 737px;
    }

    .services_item p {
        font-size: 14px;
        padding-left: 14px;
    }

    .services_item .icon-percent {
        font-size: 40px;
    }

    .services_item .icon-truck {
        font-size: 52px;
    }

    .services_item .icon-pin {
        font-size: 40px;
    }

    .services_item .icon-box {
        font-size: 40px;
    }

    .card_header_article .price p {
        font-size: 23px;
        line-height: 23px;
        text-align: center;
    }

    .to_fav button {
        font-size: 14px;
    }

    .to_cart button {
        font-size: 14px;
    }

    .main_catalog_list_wrapper {
        justify-content: space-around;
    }

    .article_col_image,
    .article_col_text,
    .about_col_text,
    .about_col_image
    {
        max-width: 100%;
    }

    .article_row,.about_row {
        flex-wrap: wrap;
    }

    .article_row .article_col_text,.about_row .about_col_text {
        order: 1;
    }

    .article_row .article_col_image,.about_row .about_col_image {
        order: 2;
        margin-top: 20px;
    }

    .article_title h2 {
        font-size: 20px;
    }

    .article_sub p {
        font-size: 16px;
    }
}

@media (max-width: 481px) {
    .container {
        max-width: 449px;
    }

    .services_item {
        width: 50%;
    }

    .services_item_wrapper {
        flex-wrap: wrap;
    }

    .catalog_wrapper .catalog_item {
        width: 50%;
    }

    .footer_middle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_logo {
        max-width: 180px;
    }

    .footer_right li {
        text-align: right;
    }

    .created_by {
        text-align: right;
        margin-top: 50px;
    }

    .footer_middle h2 {
        font-size: 35px;
    }

    .unp p {
        font-size: 12px;
    }

    .footer_left {
        max-width: 125px;
    }

    .footer_right {
        align-self: flex-start;
        margin-top: 14px;
    }

    .banner {
        height: 230px;
    }

    .banner h1 {
        font-size: 50px;
        margin: 0 10px 10px 0;
    }

    .make_question_fields input {
        margin: 5px 13px;
    }

    .make_question form {
        padding-bottom: 30px;
    }

    .card_present_block {
        max-width: 100%;
    }

    .card_info_block {
        max-width: 100%;
        margin-top: 30px;
        padding: 0;
    }

    .main_catalog_wrapper .card {
        width: 198px;
    }

    .main_catalog_wrapper .card .card_image {
        width: 157px;
    }

    .left_catalog_item_title {
        justify-content: center;
    }

    .left_catalog_item_content li a {
        color: #ffffff;
        font-size: 14px;
    }

    .left_catalog_item_title p {
        color: #ffffff;
    }

    .left_catalog_item_content li {
        text-align: center;
    }

    .main_wrapper_block {
        position: relative;
        overflow: hidden;
    }

    .left_catalog_wrapper {
        z-index: 2;
        position: absolute;
        right: -222px;
        background-color: #535353;
        padding: 10px 0 10px 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .left_catalog_wrapper.active {
        right: 0;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    }

    .left_catalog_wrapper h2 {
        color: #ffffff;
        text-align: center;
    }

    .left_catalog_item_content {
        padding-left: 0;
    }

    .left_catalog_label {
        display: block;
        position: absolute;
        background-color: #3a3a3a;
        padding: 5px 20px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        transform: rotate(-90deg);
        -webkit-box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.75);
        left: -66px;
        top: 30%;
    }

    .left_catalog_label span {
        width: 155%;
        height: 70px;
        left: -27px;
        top: -38px;
        z-index: 7;
        overflow: hidden;
        text-indent: 200%;
        white-space: nowrap;
        outline: none;
        display: block;
        position: absolute;
    }

    .left_catalog_label p {
        color: #ffffff;
    }

    .container.catalog {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }


    .cart_item_article_image {
        display: none;
    }

    .cart_item_article_text {
        margin-left: 0;
    }

    .cart_buttons_wrapper {
        justify-content: center;
    }

    .delivery .line {
        display: none;
    }

    .delivery {
        flex-direction: column;
    }

    .self_delivery,
    .post_delivery {
        width: 100%;
    }

    .post_delivery {
        margin-top: 20px;
    }

    .self_delivery .delivery_content {
        margin-top: 5px;
    }

    .post_delivery .delivery_content {
        margin-top: 5px;
    }

    .contacts_block.left {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .contacts_wrapper {
        flex-wrap: wrap;
    }
    .catalog .main_catalog_list_wrapper{
        margin: 0;
    }

}

@media (max-width: 426px) {
    .container {
        padding: 0 5px;
        max-width: 396px;
    }

    .services_item {
        padding: 10px 0;
    }

    .services_item p {
        font-size: 12px;
    }

    .article_item_image {
        height: 140px;
    }

    .article_item {
        max-width: 100%;
    }

    .article_item_image img {
        width: 100%;
    }

    .article_item_image {
        height: 270px;
    }

    .main_catalog_wrapper .card {
        width: 100%;
        height: unset;
    }

    .main_catalog_wrapper .card_wrapper {
        width: 80%;
    }

    .main_catalog_wrapper .card .card_image {
        width: unset;
        height: unset;
    }
}

@media (max-width: 376px) {
    .container {
        max-width: 346px;
    }

    .footer_middle {
        display: none;
    }

    .footer_left {
        max-width: none;
    }

    .footer_right {
        margin-top: 23px;
    }

    .leave_feedback {
        display: flex;
        justify-content: center;
    }

    .share_wrapper {
        justify-content: center;
    }

    .breadcrumbs a {
        padding: 0 10px;
    }

    .header_icons {
        justify-content: space-evenly;
        margin-right: 0;
    }

    .favorites .main_catalog_list_wrapper {
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 290px;
    }

    .article_item_image {
        height: 188px;
    }

    .main_block_item h2 {
        font-size: 16px;
    }

    .make_question_fields {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .make_question_fields input {
        max-width: 100%;
        width: auto;
    }

    .make_question input[type='submit'] {
        margin: 20px 0 0 0;
    }

    .make_question form {
        flex-wrap: wrap;
    }

    .to_cart {
        margin: 0 5px;
    }

    .to_fav {
        margin: 0 5px;
    }
}